
/* header */

#header .nav-item .dropdown-menu {
  display: none;
  margin-top: 0;
}

#header .nav-item:hover .dropdown-menu {
  display: block;
}

#header .nav-item .dropdown-menu .dropdown-item {
  color: grey;
}

#header .nav-item .dropdown-menu .dropdown-item:hover {
  color: #3c434a;
}

#header-nav li ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
}
#header li:hover ul {
  display: block;
}

#header li a {
  text-transform: uppercase;
  font-weight: bold;
  padding-inline: 0.5rem;
  padding-right: 3rem;
  font-size: 2ch;
}

#header img {
  padding-left: 3rem;
  width: 270px;
  height: auto;
}

/* accueil.html */

#myCarousel .carousel-inner {
  text-align: center;
  width: 100%;
}

#myCarousel .carousel-inner .img-fluid {
  width: 100%;
  height: 900px;
  text-align: center;
  margin: auto;
}

#myCarousel .carousel-caption h1 {
  font-size: 4.5em;
  margin-top: -600px;
  margin-bottom: 1rem;
  text-align: left;
  font-weight: 650;
  text-transform: uppercase;
  color: white;
}

#myCarousel .carousel-caption {
  font-size: 2.3ch;
}


#realisation-reve h2 {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 7ch;
  margin-top: 8rem;
  margin-bottom: 5rem;
  margin-left: 8rem;
}

#realisation-reve .container-fluid {
  max-width: 2000px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#realisation-reve .d-row {
  text-align: justify;
  margin-left: 7rem;
}

#description-realisation-reve h1 {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  font-size: 5ch;
  margin-bottom: 1rem;
}

#description-realisation-reve .container-fluid {
  max-width: 2000px;
  text-align: center;
}

#description-realisation-reve .d-row {
  justify-content: space-evenly;
  font-size: 1.5ch;
  color: #666;
  margin-left: 1rem;
}

#description-realisation-reve .col-md-4 {
  justify-content: left;
  text-align: left;
}

#description-realisation-reve h1 {
  font-size: 3ch;
  text-transform: none;
  font-weight: lighter;
  text-align: left;
  font-family: Raleway;
}

#description-realisation-reve hr {
  border-top: 3px solid #000;
  height: 20px;
  width: 600px;
}

#description-realisation-reve p {
  font-size: 2.5ch;
  text-align: justify;
  font-family: Raleway;
  margin-left: 3rem;
  line-height: 1.9em;
}

#type-realisation .container-fluid {
  max-width: 2000px;
  text-align: center;
  margin-top: 5rem;
  justify-content: center;
}

#type-realisation .d-row {
  text-align: center;
  justify-content: center;
  font-size: 1ch;
  color: #666;
}

#type-realisation .col-md-3 {
  width: 30%;
  text-align: center;
  justify-content: center;
}

#type-realisation h1 {
  font-size: 3.5ch;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-family: Raleway;
  line-height: 1.9em;
}

#type-realisation .button {
  font-family: Raleway;
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 900;
  border: transparent;
  background: transparent;
  color: black;
  padding: 1rem 2rem;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#type-realisation button:hover {
  color: black;
}
#type-realisation button::after {
  content: "";
  background: black;
  position: absolute;
  z-index: -1;
  padding: 1rem 2rem;
  display: block;
}
#type-realisation button[class^="slide"]::after {
  transition: all 0.35s;
}
#type-realisation .button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}
#type-realisation button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}

#exemple-realisation h2 {
  text-align: center;
  justify-content: center;
  font-size: 11ch;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

#exemple-realisation h3 {
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: black;
  font-size: 4.5ch;
}

#exemple-realisation h4 {
  text-align: center;
  justify-content: center;
  font-family: Raleway;
  font-size: 1.5ch;
  color: #666;
}

#exemple-realisation .container-fluid {
  max-width: 2000px;
  text-align: center;
  justify-content: center;
}

#exemple-realisation .d-row {
  text-align: center;
  justify-content: center;
  font-size: 1ch;
  color: #666;
  margin-bottom: 1rem;
}

#exemple-realisation .col-md-3 {
  width: 30%;
  text-align: center;
  justify-content: center;
}

#exemple-realisation p {
  font-size: 2.5ch;
  text-align: center;
  font-family: Raleway;
  line-height: 1.9em;
}

#exemple-realisation .button {
  font-family: Raleway;
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 900;
  border: transparent;
  background: transparent;
  color: black;
  padding: 1rem 2rem;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#exemple-realisation button:hover {
  color: black;
}

#exemple-realisation button::after {
  content: "";
  background: black;
  position: absolute;
  z-index: -1;
  padding: 1rem 2rem;
  display: block;
}

#exemple-realisation button[class^="slide"]::after {
  transition: all 0.35s;
}

#exemple-realisation .button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}

#exemple-realisation button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}

#plan-conception {
  background-color: #ffffff;
}

#plan-conception .img-fluid {
  justify-content: center;
  margin-top: 10rem;
}

#plan-conception h1 {
  text-align: left;
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
  font-size: 8ch;
  margin-top: 10rem;
  margin-bottom: 6rem;
}

#plan-conception .container-fluid {
  max-width: 2000px;
  margin-bottom: 8rem;
  text-align: center;
  justify-content: center;
}

#plan-conception .d-row {
  justify-content: space-evenly;
  font-size: 1.5ch;
  color: #666;
}

#plan-conception p {
  font-size: 2.5ch;
  text-align: justify;
  font-family: Raleway;
  line-height: 1.9em;
  margin-bottom: 5rem;
}

#plan-conception .button {
  font-family: Raleway;
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 900;
  border: transparent;
  background: transparent;
  color: black;
  padding: 1rem 2rem;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#plan-conception button:hover {
  color: black;
}

#plan-conception button::after {
  content: "";
  background: black;
  position: absolute;
  z-index: -1;
  padding: 1rem 2rem;
  display: block;
}

#plan-conception button[class^="slide"]::after {
  transition: all 0.35s;
}

#plan-conception .button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}

#plan-conception button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}

#accompagnement-expert {
  background-color: #ffffff;
}

#accompagnement-expert .img-fluid {
  justify-content: center;
  margin-top: 10rem;
}

#accompagnement-expert h1 {
  text-align: right;
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
  font-size: 8ch;
  margin-top: 10rem;
  margin-bottom: 6rem;
}

#accompagnement-expert .container-fluid {
  max-width: 2000px;
  margin-bottom: 8rem;
  text-align: center;
  justify-content: center;
}

#accompagnement-expert .d-row {
  justify-content: space-evenly;
  font-size: 1.5ch;
  color: #666;
}

#accompagnement-expert p {
  font-size: 2.5ch;
  text-align: justify;
  font-family: Raleway;
  line-height: 1.9em;
  margin-bottom: 7rem;
}

#accompagnement-expert .button {
  font-family: Raleway;
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 900;
  border: transparent;
  background: transparent;
  color: black;
  padding: 1rem 2rem;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#accompagnement-expert button:hover {
  color: black;
}

#accompagnement-expert button::after {
  content: "";
  background: black;
  position: absolute;
  z-index: -1;
  padding: 1rem 2rem;
  display: block;
}

#accompagnement-expert button[class^="slide"]::after {
  transition: all 0.35s;
}

#accompagnement-expert .button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}

#accompagnement-expert button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}

#gamme-services {
  background-color: black;
}

#gamme-services h1 {
  text-align: center;
  justify-content: center;
  font-size: 14ch;
  line-height: 2.5ch;
  font-weight: 600;
  color: whitesmoke;

}

#gamme-services .container-fluid {
  max-width: 2000px;
  text-align: center;
  margin-top: 5rem;
}

#gamme-services .d-row {
  justify-content: space-evenly;
  font-size: 1.5ch;
  color: whitesmoke;
}

#gamme-services .col-md-3 {
  justify-content: left;
  text-align: left;
}

#gamme-services h2 {
  font-size: 3ch;
  text-transform: none;
  font-weight: lighter;
  text-align: left;
  font-family: Raleway;
}

#gamme-services hr {
  border-top: 3px solid whitesmoke;
  height: 20px;
  width: 400px;
}

#gamme-services .col {
  margin-top: 6rem;
  margin-bottom: 5rem;
}

#gamme-services .button {
  font-family: Raleway;
  font-size: 1.3rem;
  font-weight: 900;
  border: transparent;
  background: transparent;
  color: whitesmoke;
  padding: 1rem 2rem;
  position: relative;
  overflow: hidden;
}

#gamme-services .button:hover {
  color: whitesmoke;
}

#gamme-services button::after {
  content: "";
  background: whitesmoke;
  position: absolute;
  z-index: -1;
  padding: 1rem 2rem;
  display: block;
}

#gamme-services button[class^="slide"]::after {
  transition: all 0.35s;
}

#gamme-services .button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}

#gamme-services button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}

/* agence.html */

#photo_aproposdenous img {
  width: 100%;
  height: 700px;
  text-align: center;
  margin: auto;
}

#photo_aproposdenous .carousel-caption h1 {
  font-size: 7.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -425px;
}


#histoire h2 {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 7ch;
  margin-top: 10rem;
  margin-bottom: 5rem;
  margin-left: 8rem;
}

#histoire .container {
  max-width: 2000px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#histoire .row {
  text-align: justify;
}

#identite h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 8rem;
  margin-bottom: 5rem;
  border-left: 10 rem;
}

#identite h3 {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  font-size: 4ch;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#identite .container {
  max-width: 2000px;
  text-align: center;
  margin-bottom: 3rem;
  
}

#identite .d-row {
  justify-content: space-evenly;
  font-size: 1.5ch;
  color: #666;
}

#identite .col-md-3 {
  width: 500px;
}

#identite p {
  font-size: 2.5ch;
  text-align: justify;
  font-family: Raleway;
  line-height: 1.9em;
}

#maitre-oeuvre h1 {
  text-align: center;
  justify-content: center;
  font-size: 11ch;
  margin-top: 8rem;
  margin-bottom: 10rem;
  font-weight: bold;
}

#culture-entreprise {
  background-color: #f7f3f3;
}

#culture-entreprise .img-fluid {
  justify-content: center;
  margin-top: 15rem;
}

#culture-entreprise h1 {
  text-align: center;
  font-size: 7ch;
  border-left: 10 rem;
  font-weight: bold;
  margin-top: 10rem;
}

#culture-entreprise h2 {
  text-align: center;
  font-size: 7ch;
  border-left: 10 rem;
  font-weight: bold;
}

#culture-entreprise h3 {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 4ch;
  margin-bottom: 10rem;
}

#culture-entreprise .container {
  max-width: 2000px;
  margin-bottom: 8rem;
}

#culture-entreprise .d-row {
  justify-content: space-evenly;
  font-size: 1.5ch;
  color: #666;
}

#culture-entreprise p {
  font-size: 2.5ch;
  text-align: justify;
  font-family: Raleway;
  line-height: 1.9em;
}



/* metier.html */

#photo_metier img {
  width: 100%;
  height: 600px;
  text-align: center;
  margin: auto;
}

#photo_metier .carousel-caption h1 {
  font-size: 7.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -350px;
}


#maitrise-oeuvre h2 {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 7ch;
  margin-top: 8rem;
  margin-bottom: 5rem;
  margin-left: 8rem;
}

#maitrise-oeuvre .container {
  max-width: 2000px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#maitrise-oeuvre .d-row {
  text-align: justify;
  margin-left: 7rem;
}

#description-maitrise-oeuvre h1 {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  font-size: 5ch;
  margin-bottom: 1rem;
}

#description-maitrise-oeuvre .container {
  max-width: 2000px;
  text-align: center;
}

#description-maitrise-oeuvre .d-row {
  justify-content: space-evenly;
  font-size: 1.5ch;
  color: #666;
  margin-left: 1rem;
}

#description-maitrise-oeuvre .col-md-4 {
  justify-content: left;
  text-align: left;
}

#description-maitrise-oeuvre h1 {
  font-size: 3ch;
  text-transform: none;
  font-weight: lighter;
  text-align: left;
  font-family: Raleway;
}

#description-maitrise-oeuvre hr {
  border-top: 3px solid #000;
  height: 20px;
  width: 600px;
}

#description-maitrise-oeuvre p {
  font-size: 2.5ch;
  text-align: justify;
  font-family: Raleway;
  margin-left: 3rem;
  line-height: 1.9em;
}

#expertise-projet h2 {
  text-align: center;
  justify-content: center;
  font-size: 12ch;
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-weight: bold;
}

#expertise-projet h3 {
  text-align: left;
  justify-content: left;
  color: black;
  font-size: 4ch;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#expertise-projet .container-fluid {
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

#expertise-projet .d-row {
  text-align: center;
  justify-content: space-evenly;
}

#expertise-projet .col-md-5 {
  text-align: center;
  justify-content: center;
}

#expertise-projet .img-fluid {
  height: auto;
}

#expertise-projet p {
  text-align: justify;
  justify-content: center;
  font-family: Raleway;
  font-size: 2ch;
  line-height: 1.9em;
  color: #666;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
}

/* missions.html */

#photo_missions img {
  width: 100%;
  height: 600px;
  text-align: center;
  margin: auto;
}

#photo_missions .carousel-caption h1 {
  font-size: 7.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -350px;
}


#nos-services h2 {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 7ch;
  margin-top: 8rem;
  margin-bottom: 5rem;
  margin-left: 11rem;
}

#nos-services .container {
  max-width: 2000px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#nos-services .row {
  text-align: justify;
}

#description-services h1 {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  font-size: 4ch;
  margin-bottom: 1rem;
}

#description-services .container {
  max-width: 2000px;
  text-align: center;
}

#description-services .d-row {
  justify-content: space-evenly;
  font-size: 1.5ch;
  color: #666;
  margin-left: 10rem;
  margin-right: 10rem;
}

#description-services .col-md-6 {
  justify-content: space-evenly;
  width: 500px;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

#description-services p {
  margin-top: 1rem;
  font-size: 2.5ch;
  line-height: 1.9em;
  text-align: justify;
  font-family: Raleway;
}

#solutions-conception h2 {
  text-align: center;
  justify-content: center;
  font-size: 12ch;
  margin-top: 8rem;
  margin-bottom: 6rem;
  font-weight: bold;
}

#solutions-conception .main-timeline {
  position: relative;
}

#solutions-conception .main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: black;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#solutions-conception .main-timeline .timeline {
  margin-bottom: 3rem;
  position: relative;
}


#solutions-conception .main-timeline .icon {
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#solutions-conception .main-timeline .icon {
  content: "";
  width: 0.7ch;
  height: 0.7ch;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: solid black;
}

#solutions-conception .main-timeline .timeline-content {
  text-align: right;
  justify-content: center;
  padding: 20px 1090px 20px 0;
}

#solutions-conception .main-timeline .timeline-content:before {
  content: "";
  width: 8%;
  height: 2px;
  background: black;
  position: absolute;
  top: 7.5rem;
}

#solutions-conception .main-timeline .title {
  font-size: 3.5ch;
  font-weight: 700;
  line-height: 24px;
  margin-right: 3rem;
  margin-left: 13rem;
  margin-bottom: 2.5rem;
}

#solutions-conception .main-timeline .description {
  margin-right: 3rem;
  margin-left: 13rem;
  font-family: Raleway;
  line-height: 1.9em;
  color: #666;
}

#solutions-conception .main-timeline .timeline:nth-child(2n) .timeline-content {
  text-align: left;
  justify-content: center;
  padding: 20px 0 20px 940px;
}

#service-expert h2 {
  text-align: center;
  justify-content: center;
  font-size: 12ch;
  margin-top: 8rem;
  margin-bottom: 6rem;
  font-weight: bold;
}

#service-expert .main-timeline {
  position: relative;
}

#service-expert .main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: black;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#service-expert .main-timeline .timeline {
  margin-bottom: 3rem;
  position: relative;
}


#service-expert .main-timeline .icon {
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#service-expert .main-timeline .icon {
  content: "";
  width: 0.7ch;
  height: 0.7ch;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: solid black;
}

#service-expert .main-timeline .timeline-content {
  text-align: right;
  justify-content: center;
  padding: 20px 1090px 20px 0;
}

#service-expert .main-timeline .timeline-content:before {
  content: "";
  width: 8%;
  height: 2px;
  background: black;
  position: absolute;
  top: 7.5rem;
}

#service-expert .main-timeline .title {
  font-size: 3.5ch;
  font-weight: 700;
  line-height: 24px;
  margin-right: 3rem;
  margin-left: 13rem;
  margin-bottom: 2.5rem;
}

#service-expert .main-timeline .description {
  margin-right: 3rem;
  margin-left: 13rem;
  font-family: Raleway;
  line-height: 1.9em;
  color: #666;
}

#service-expert .main-timeline .timeline:nth-child(2n) .timeline-content {
  text-align: left;
  justify-content: center;
  padding: 50px 0 20px 940px;
}



/* realisation.html */

#exemple-realisation h3 {
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: black;
  font-size: 4ch;
  margin-top: 1rem;
}

#exemple-realisation .container {
  max-width: 2000px;
  text-align: center;
  justify-content: center;
}

#exemple-realisation .d-row {
  text-align: center;
  justify-content: center;
  font-size: 1ch;
  color: #666;
}

#exemple-realisation .col-md-3 {
  width: 30%;
  text-align: center;
  justify-content: center;
}

#exemple-realisation p {
  font-family: Raleway;
  font-size: 2.5ch;
  line-height: 1.9em;
}

#exemple-realisation img {
  margin-top: 5rem;
}

#exemple-realisation .zoom .img-fluid {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#exemple-realisation .zoom :hover .img-fluid {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

#exemple-realisation .page-item {
  text-align: center;
  justify-content: center;
  margin-top: 4rem;
}

#exemple-realisation .page-link {
  color: black;
  justify-content: center;
  font-family: Raleway;
}



/* blog.html */

#photo_ecriveznous img {
  width: 100%;
  height: 800px;
  text-align: center;
  margin: auto;
}

#photo_ecriveznous .carousel-caption h1 {
  font-size: 7em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -500px;
}


#futur-projet h1 {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  font-size: 9ch;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#futur-projet h2 {
  text-align: left;
  font-weight: bold;
  color: black;
  font-family: Raleway;
  font-size: 4ch;
  margin-top: 7rem;
  margin-bottom: 1rem;
}

#futur-projet h3 {
  text-align: left;
  font-weight: bold;
  color: black;
  font-family: Raleway;
  font-size: 6ch;
  margin-top: 2rem;
  margin-bottom: 5rem;
}


#futur-projet .container {
  max-width: 2000px;
  text-align: center;
}

#futur-projet .d-row {
  justify-content: space-evenly;
  font-size: 1.5ch;
  color: #666;
  margin-left: 10rem;
  margin-right: 10rem;
}

#futur-projet .col-md-6 {
  width: 500px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#futur-projet p {
  margin-top: 3rem;
  font-size: 3ch;
  line-height: 1.9em;
  text-align: justify;
  font-family: Raleway;
}

#futur-projet .fa-brands {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
}

#futur-projet #contact {
  margin-top: 5rem;
}

#futur-projet #contact .btn {
  margin-top: 4rem;
}



/* footer */

#contactez-nous .brightness img {
  width: 100%;
  height: 500px;
  text-align: center;
  margin: auto;
  -webkit-filter: brightness(50%);
  filter: brightness(50%);

}

#contactez-nous .carousel-caption h1 {
  font-size: 4.5em;
  margin-top: -350px;
  margin-bottom: 2rem;
  font-weight: 630;
  color: white;
}

#contactez-nous .carousel-caption {
  font-size: 2.3ch;
}


#contactez-nous .button {
  font-family: Raleway;
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 900;
  border: transparent;
  background: transparent;
  color: white;
  padding: 1rem 2rem;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#contactez-nous button:hover {
  color: black;
}
#contactez-nous button::after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  padding: 1rem 2rem;
  display: block;
}
#contactez-nous button[class^="slide"]::after {
  transition: all 0.35s;
}
#contactez-nous .button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}
#contactez-nous button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}

#contactez-nous p {
  text-align: center;
  font-size: 3ch;
  font-weight: lighter;
  color: white;
  font-family: Raleway;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 2rem 0;
}

footer img {
  text-align: center;
  width: 100px;
  height: 100px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
}

footer .d-row .col-md-3:not(:first-child){
  padding: 3rem 0;
}

footer .d-row {
  justify-content: space-evenly;
  padding-left: 10rem;
}

footer .col-md-3 {
  width: 20%;
  justify-content: center;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 0.5rem;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5ch;
  margin-bottom: 0.5rem;
  text-align: left;
}

footer .subtext {
  color: #cccccc9d;
  margin-bottom: 0.5rem;
  text-align: left;
}

footer .button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .button {
  display: inline-block;
  padding: 10px 20px;
  font-family: Raleway;
  background-color: rgba(0, 0, 255, 0.671);
  color: #ffffffa6;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

footer p {
  text-align: justify;
  line-height: 1.9em;
  font-family: Raleway;
}


/* Style pour les écrans de petite taille */
@media screen and (max-width: 480px) {
  /* Ajouter le CSS approprié pour les écrans de petite taille */
  body {
    font-size: 14px;
  }
  /* Réduire la largeur du logo */
  .logo {
    width: 80%;
  }
  /* Réduire la largeur des sections */
  section {
    width: 90%;
  }
}

/* Style pour les écrans de taille moyenne */
@media screen and (max-width: 768px) {
  /* Ajouter le CSS approprié pour les écrans de taille moyenne */
  body {
    font-size: 16px;
  }
  /* Réduire la largeur du logo */
  .logo {
    width: 70%;
  }
  /* Réduire la largeur des sections */
  section {
    width: 80%;
  }
}

/* Style pour les écrans de grande taille */
@media screen and (min-width: 1024px) {
  /* Ajouter le CSS approprié pour les écrans de grande taille */
  body {
    font-size: 18px;
  }
  /* Agrandir la largeur du logo */
  .logo {
    width: 100%;
  }
  /* Agrandir la largeur des sections */
  section {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
      margin-top: 35px
  }
  .main-timeline .date-content:before {
      width: 22.5%
  }
  .main-timeline .timeline-content {
      padding: 10px 0 10px 30px
  }
  .main-timeline .title {
      font-size: 17px
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      padding: 10px 30px 10px 0
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
      margin: 0;
      left: 7px
  }
  .main-timeline .timeline {
      margin-bottom: 20px
  }
  .main-timeline .timeline:last-child {
      margin-bottom: 0
  }
  .main-timeline .icon {
      margin: auto 0
  }
  .main-timeline .date-content {
      width: 95%;
      float: right;
      margin-top: 0
  }
  .main-timeline .date-content:before {
      display: none
  }
  .main-timeline .date-outer {
      width: 110px;
      height: 110px
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
      width: 110px;
      height: 110px
  }
  .main-timeline .date {
      top: 30%
  }
  .main-timeline .year {
      font-size: 24px
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      width: 95%;
      text-align: center;
      padding: 10px 0
  }
  .main-timeline .title {
      margin-bottom: 10px
  }
}